
<h1 color="blue" align="center"> Your Blocmarks! </h1>
<h2>Creating blocmarks is easy! Just send an email to me@app26914219.mailgun.org containing your hashtag topics seperated by spaces in the subject and the complete url(including the https) in the body!</h2>

<% @topics_hash.each do |topic, blocmark_list| if @topics_hash.length > 0 %>
<table class="table table-bordered">
  <tr class="info">
    <td><%= link_to "#{topic.title}", topic %></td>
    <td>Destroy?</td>
  </tr>
  <% blocmark_list.each do |bloc| %>
    <tr>
      <td><%= link_to bloc.url , bloc.url %></td>
      <td><%= button_to "Delete", {:controller => "blocmarks", :action => "destroy", :id => bloc.id } , :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br>  
<% end %>
<table class="table table-bordered">
  <tr class="info">
    <td>Blocmarks you like!</td>
    <td>Delete!</td>
  </tr>
  <% current_user.likes.each do |like| %>
  <tr>
    <td><%= link_to Blocmark.find(like.blocmark_id).url , Blocmark.find(like.blocmark_id).url %></td>
    <td><%= button_to "Delete", {:controller => "likes", :action => "destroy", :id => like.id } , :method => :delete %></td>
  </tr>
  <% end %>
</table>

